.query-screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 25px;
}

.query-component__title {
  text-align: center;
}

.query-component__list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  border-radius: 10px;
}

.query-component__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}

.query-component__item:not(:last-child) {
  margin-bottom: 5px;
}

.query-component__input {
  margin: 0 5px;
  padding: 3px 5px;
}

.query-component__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.query-component__modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 30%;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
}

.query-component__form--modal {
  margin: 0 auto;
  padding-top: 50px;
  width:  90%;
}
